.products{
    width: 100%;
    height: auto;
    margin: 3vh auto 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.products img{
    width: 75%;
    height: auto;
}

.products ul{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    outline: none;
    list-style: none;
}

.products ul li{
    width: 100%;
    min-height: 240px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.products ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.priceTag{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 90%;
    margin: 10px auto 10px auto;
}

.priceTag button{
    width: 80%;
    cursor: pointer;
    height: 30px;
    border-radius: 32px;
    border: 1;
}

@media only screen and (min-width: 900px) {

}

@media only screen and (max-width: 900px) {
    .products{
        min-height: 100vh;
        margin-bottom: 20px;
    }
    .products ul{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
    }

    .products img{
        width: 100%;
        height: auto;
    }

    .products ul div{
        width: 100%;
        margin: 10px auto 0 auto;
        /* padding: 5px; */
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .products ul div:first-child{
        margin-top: 0;
    }

    .products ul li{
        padding: 0;
        margin: 10px auto 0 auto;
        width: 100%;
    }

    .priceTag{
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .priceTag button{
        width: 20%;
        height: 30px;
        margin: 0 auto 20px auto;
    }

}

