*{
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

html, body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  align-content: center;
}

img{
  width: 100%;
  height: 100%;
}

/* @media only screen and (min-width: 1000px){


} */


/* Aqui começa a parte dos SectionDivisions */
section{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.MainSection{
  background-image: url('./assets/images/imagem1.jpg');
  display: flex;
  justify-content: center;
  align-content: center;
}

.MainSection .MainDiv{
  display: flex;
  color: black;
  /* margin-left: 11vw; */
  height: 60%;
  width: 70%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 24px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.MainDiv div{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.MainDiv h1,h2,h3 {
  font-weight: 600;
  font-size: larger;
}

.MainDiv h1{
  font-size: 60px;
}

/* .SecondarySection{
  background-image: url('./assets/images/imagem2.jpg');
} */

.ThirdSection{
  height:95vh;
  background-image: url('./assets/images/imagem3.jpg');
  display: flex;
}

.MainSection,.SecondarySection,.ThirdSection{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Aqui termina a parte dos SectionDivisions */

/* Aqui começa a parte dos Card Grids */

.benefits{
  width: 80%;
  height: fit-content;
  display: flex;
  margin: 10vh auto 0 auto;
  justify-content: center;
  align-content: center;
}

.benefits h1{
  font-size: 36px;
}

.cardGrid{
  margin: 0 auto;
  display: grid;
  width: 95%;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 9px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cardGrid div{
  padding-top: 2vh;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  border-radius: 24px;
  color: black;
  padding-bottom: 15px;
}

.cardGrid div img{
  width: auto;
  height: auto;
  border-radius: 24px;
  max-width: 300px;
  max-height: 258px;
}

.CardTemplate{
  margin: 0 auto;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Começo das configurações do Form */

.loadingPlace{
  display: flex;
  padding-top: 20px;
  margin: 0 auto;
  width: 30%;
  height: 80%;
  min-height: 360px ;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255,255,255,0.9);
  border-radius: 24px;
  color: black;
}

form{
  width: 85%;
  min-height: 200px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-self: center;
  justify-content: center;
}

form h1,h2,h3,h4,h5,h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

input{
  border: 1px solid ;
  padding: 5px;
  margin: 3px auto;
  border-radius: 8px;
  width: 97%;
  transition: 2s ease-in-out;

}

button{
  margin-top: 3px;
  cursor: pointer;
  background-color: rgb(230, 139, 66);
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

button:active{
  transform: scale(0.98);
  opacity: 1.2;
}
/* Final das configurações do Form */

/* Final dos CardGrids */

footer{
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}